.nav-button {
  align-items: center;
  background-clip: padding-box;
  background-color: rgba(54,157,128,255);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #ffff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 50px;
}

.nav-button:hover,
.nav-button:focus {
  background-color: white;
  color: rgba(54,157,128,255);
  transform: translateY(-1px);
}

.nav-button:active {
  background-color: #c85000;
  transform: translateY(0);
}