#content {
    height: 50%;
    width: 70%;
    position: absolute;
    left: 8%;
    top: calc(70% - 250px);
}

#content h2 {
    font-size: 100px;
    color: rgb(54,157,128);
}

#content p {
    font-size: 20px;
    color: rgb(60,117,174)
}

#credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(22, 96, 96);
}

.information {
    height: 100vh;
    width: 100%;
}

.information h2 {
    position: relative;
    top: 20%;
    left: 10%;
    width: 90%;
    font-size: 85px;
    color: rgba(54,157,128,255);
}

.information h4 {
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    width: 75%;
    left: 10%;
    top: 25%;
    font-size: 30px;
    color: rgba(54,157,128,255);
}

.information .float-container {
    width: 75%;
    position: relative;
    top: 25%;
    left: 15%;
    font-size: 20px;
    color: rgba(54,157,128,255);
}

.information p {
    width: 75%;
    position: relative;
    top: 25%;
    left: 15%;
    font-size: 20px;
    color: rgba(54,157,128,255);
}

.information p.right {
    left: 15%;
    right: 15%;
}

.float-child {
    width: 50%;
    float: left;
}

.float-container {
    top:30%;
}

iframe {
    position: relative;
    height: 60%;
    top: 25%;
    width: 80%;
    left: 10%;
    bottom: 5%;
}

#resume {
    height: 150vh;
    background-color: black;
}

#resume h2 {
    top: 13%;
}

#my-story {
    height: 250vh;
    background-color: black;
}

#my-story h4 {
    justify-content: center;
    display: flex;
    top: 15%;
}

#my-story h2 {
    top: 10%;
}

#my-story p {
    top: 15%;
    text-indent: 30px;
    display: block;
}

#my-story img {
    position: relative;
    display: block;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}