.App {
  text-align: center;
}

.frontpage {
  height: 300px;
  background: lightblue;
  color: black;
  padding-top: 30vh;
}

.frontpage h1 {
  font-size: 30px;
  max-width: 35%;
  letter-spacing: .5px;
}

.about {
  background-color: whitesmoke;
  height: 300vh;
  display:flex;
}

.about-title {
  color: black;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  margin: 0!important;
}

.projects-title {
  color: black;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  margin: 0!important;
}

.about-title, .projects-title h2 {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 50px 120px;
}

.about-pages {
  color: white;
  width: 50%;
}

.about-pages div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-pages div > p {
  width: 80%;
  font-size: 18px;
  line-height: 30px;
}

.about-pages div:nth-child(1) {
  background-color: rgb(56, 134, 89);
}
.about-pages div:nth-child(2) {
  background-color: purple;
}
.about-pages div:nth-child(3) {
  background-color: orange;
}